body {
    margin: 0;
}
  
#heading1 {
    color: #010d17;
    text-align: center;
    background: rgb(184, 49, 23);
    background: linear-gradient(90deg, rgba(184, 49, 23, 1) 17%, rgba(11, 165, 31, 1) 48%, rgba(255, 226, 0, 1) 100%);
}
  
#heading1 span {
    font-weight: bold;
    font-size: 25px;
    font-family: "Roboto Slab", serif;
    text-decoration: underline;
}
  
#container {
    border-bottom: 1px solid black;
}
  
.section {
    background-color: rgb(97, 196, 196);
    border: 5px solid orangered;
    border-radius: 10px;
    margin: 20px auto;
    width: 70%;
}
  
.section ul {
    width: 20%;
    text-align: center;
    margin: auto;
}
  
  .section ul li {
    font-weight: 500;
}
  
.paragraphs {
    background-color: #8ef9c0;
    border: 2px solid orangered;
    border-radius: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}
  
.paragraphs p {
    margin: 0;
    padding: 2px;
    width: 400px;
    height: fit-content;
    font-weight: bold;
    background-color: aqua;
    text-align: center;
    border: 2px solid green;
    border-radius: 10px;
    box-sizing: border-box;
}
  
#heading2 {
    color: #0b4f85;
    margin: 25px 0;
    padding-bottom: 15px;
    text-align: center;
    background: rgb(255, 226, 0);
    background: radial-gradient(circle, yellow 8%, red 73%);
}
  
#heading2 span {
    font-weight: bold;
    color: black;
    font-size: 17px;
    text-decoration: underline;
}
  
#boxes {
    border: 1px solid green;
    display: flex;
    justify-content: space-around;
    padding: 60px 0;
    background: rgb(36, 67, 204);
    background: radial-gradient(ellipse, rgb(12, 4, 129) 20%, rgb(79, 76, 226) 60%,  rgb(21, 207, 21) 90%);
}
  
.box {
    color: maroon;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    background-color: yellow;
    border: 2px solid orangered;
    border-radius: 10px;
    width: 200px;
}
  
.box span {
    display: block;
    padding-bottom: 15px;
}

.grid {
    margin: 2px 0px 30px 0px;
    padding: 0px;
    border-top: 20px solid white;
}

.grid-boxes {
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: auto;
    border: 1px solid black;
    margin-bottom: 50px;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: span 4;
    background-color: red;
    height: 40px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

 .box2 {
    background-color: #58D16A;
    height: 70px;
    margin: 6px 6px 0px 0px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size:25px;
 }

 .box3 {
    background-color: #2584F7;
    height: 70px;
    margin: 6px 6px 0px 6px;
    color: white;
    font-weight: bolder;
    font-size:25px;
 }

 .box4 {
    height: 70px;
    background-color: #4948EA;
    margin: 6px 6px  6px 6px;
    color: white;
    font-weight: bolder;
    font-size:25px;
 }

 .box5 {
    background-color: #2A2E35;
    grid-row-end: span 2;
    color: white;
    height: auto;
    margin: 6px 0px  0px 6px;
    color: white;
    font-weight: bold;
    font-size:25px;
    text-decoration: underline;
 }

 .box6 {
    height: 150px;
    grid-column-end: span 3;
    background-color: #F29937;
    margin: 6px 6px  0px 0px;
    color: white;
    text-align:start;
    font-weight: bolder;
    font-size:25px;
 }

 .box7 {
    background-color: #50CCCD;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    height: 40px;
    grid-column-end: span 4;
    margin: 12px 0px 0px 0px;
    padding: 0px;
}